<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197635723803-jj760aou57lr6a8c04e6rp1fi3ego9f2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197635723803-jj760aou57lr6a8c04e6rp1fi3ego9f2</string>
	<key>API_KEY</key>
	<string>AIzaSyDsjGKjspUgwymBBmat2VqnWoi6MLD5Tgo</string>
	<key>GCM_SENDER_ID</key>
	<string>197635723803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cn.macwik.ledger</string>
	<key>PROJECT_ID</key>
	<string>riverine-19a38</string>
	<key>STORAGE_BUCKET</key>
	<string>riverine-19a38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197635723803:ios:78ac4f25a9edab1d981ebe</string>
</dict>
</plist>